html {
  overflow-y: hidden;
  font-family: "Mansalva", cursive;
  font-kerning: auto;
  color: #fff;
  mix-blend-mode: exclusion !important; }

body {
  margin: 0; }

html, body, .page-wrapper {
  height: 100%; }

a {
  display: inline-block;
  color: inherit;
  transition: color 70ms;
  transition: transform 130ms;
  outline: none;
  transform: scale(1) translateZ(0); }
  a:hover {
    color: #fff;
    transform: translateX(-1rem) scale(1.1); }
  a:active {
    color: #fff;
    transform: translateX(1rem) scale(0.95); }

.col {
  display: table-cell;
  vertical-align: middle; }

.page {
  width: 100%;
  height: 100%;
  display: table; }

/**
 * Other colour shade.
 */
i {
  font-style: inherit;
  color: #fff; }

canvas#anim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; }

nav {
  width: 50%;
  padding: 2rem;
  text-align: right; }
  nav a {
    font-weight: bold;
    font-size: 5rem;
    text-decoration: none;
    padding: 1rem 0;
    display: block;
    mix-blend-mode: exclusion;
    color: #fff;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none; }

img {
  height: auto;
  width: auto;
  mix-blend-mode: exclusion;
  transform: translateZ(0);
  max-height: 84vh; }

.section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 3rem;
  transition: all 300ms;
  opacity: 0;
  visibility: hidden; }
  .section p {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: -4px 0 #444, 0 4px #444, 0 -4px #444; }
    .section p b {
      font-size: 4rem;
      text-shadow: -7px 0 #444, 0 7px #444, 0 -7px #444; }
  .section.active {
    visibility: visible;
    opacity: 1; }
